header, footer 
{
    padding: 0.5em; 
    color: rgb(1, 0, 0);
    background-color: rgb(108, 115, 148);
}
h1.header 
{
    padding: 0;
    margin: 0;
}
aside 
{
    float: left;
    width: 110px;
    margin: 0;
    padding: 1em;
}
section 
{
    margin-left: 115px;
    border-left: 1px solid gray;
    padding: 1em;
}
ul 
{
    float:left;
    width:100%; 
    padding:0;
    margin:0;
    list-style-type:none;
}        
a 
{
    float:left;
    width:6em; 
    text-decoration:none;
    color:white;
    background-color:rgb(61, 119, 184);
    padding:0.2em 0.6em;
    border-right:1px solid white;
}
a.active
{
    border-bottom:5px solid rgb(5, 29, 207);
}
a:hover 
{ 
    background-color:#ff3300
} 
li 
{ 
    display:inline; 
} 

tr.selected 
{
    background-color: #cce5ff;
}

table 
{
    border: 3px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td 
{
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
th 
{
    background-color: #f0f0f0;
}